@font-face {
    font-family: 'LifeIsStrangeRU';
    src: url('../fonts/LifeIsStrangeRU.woff') format('woff'),
       url('../fonts/LifeIsStrangeRU.woff2') format('woff2'),
       url('../fonts/LifeIsStrangeRU.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
}

html {
    height: 100%;
}

body {
    text-align: center;
    font-size: 0;
    font-family: LifeIsStrangeRU;
    color: #09057e;
    background-image: url(../img/bg.jpg);
    background-position: top center;
    background-size: 2080px;
    padding: 0;
    margin: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

main {
    flex: 1 0 auto;
    padding-left: 7px;
}

footer {
    flex: 0 0 auto;
    padding-bottom: 10px;
}

h1 {
    text-align: center;
    font-size: 45px;
    text-transform: uppercase;
    margin-bottom: 91px;
}

h2 {
    font-size: 25px;
    margin-top: 0;
    margin-bottom: 5px;
}

.enemy-field-wrap, .user-field-wrap {
    display: inline-block;
    vertical-align: bottom;
}

.area {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
    position: relative;
    background-color: #ebeff2;
    border-style: solid;
    border-width: 4px;
    border-image: url(../img/border.png) 10 repeat;
}

.area__alert {
    position: absolute;
    color: #09057e;
    font-size: 50px;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(235, 239, 242, 0.5);
    z-index: 1;
}

.area__alert p {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    margin-top: 0;
    margin-bottom: 0;
    text-shadow:
        -0   -1px 6px #EBEFF2,
         0   -1px 6px #EBEFF2,
        -0    1px 6px #EBEFF2,
         0    1px 6px #EBEFF2,
        -1px -0   6px #EBEFF2,
         1px -0   6px #EBEFF2,
        -1px  0   6px #EBEFF2,
         1px  0   6px #EBEFF2,
        -1px -1px 6px #EBEFF2,
         1px -1px 6px #EBEFF2,
        -1px  1px 6px #EBEFF2,
         1px  1px 6px #EBEFF2,
        -1px -1px 6px #EBEFF2,
         1px -1px 6px #EBEFF2,
        -1px  1px 6px #EBEFF2,
         1px  1px 6px #EBEFF2;
}

.enemy-field {
    position: relative;
    z-index: 0;
    margin-right: 33px;
}

.enemy-field span:hover {
    background-image: url(../img/aim-icon.svg);
    background-position: center;
    background-size: 95%;
    background-repeat: no-repeat;
}

.area__row span {
    display: inline-block;
    width: 41px;
    height: 40px;
    position: relative;
    border-style: solid;
    border-width: 1px;
    border-image: url(../img/border.png) 11 repeat;
}

.area span.kill {
    background-color: fuchsia;
}

.area span.user-ship-g {
    background-color: rgba(9, 5, 126, 0.4);
}

.area span.user-ship-b {
    background-image: url(../img/ship.png);
    background-size: contain;
}

.area span.user-ship-n {
    background-image: none;
    background-color: rgba(9, 5, 126, 0.1);
}

.area span.noneUser:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 40px;
    height: 40px;
    background-image: url(../img/none.png);
    background-size: 100%;
}

.area span.slip:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-image: url(../img/dot.png);
    background-size: 100%;
}

.area span.hitting {
    background-image: url(../img/ship.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.area span.hitting:before {
    content: '';
    position: absolute;
    left: 0;
    top: 46%;
    transform: rotate(45deg);
    width: 100%;
    height: 4px;
    background-color: red;
    border-radius: 50%;
}

.area span.hitting:after {
    content: '';
    position: absolute;
    left: 0;
    top: 46%;
    transform: rotate(-45deg);
    width: 100%;
    height: 4px;
    background-color: red;
    border-radius: 50%;
}

.area span.aim {
    background-image: url(aim-icon.svg);
    background-position: center;
    background-size: 80%;
    background-repeat: no-repeat;
}

.logs {
    display: inline-block;
    vertical-align: bottom;
    text-align: left;
    width: 180px;
    padding: 0;
    font-size: 16px;
    margin-right: 33px;
}

.logs p {
    margin-top: 0;
    margin-bottom: 0;
    opacity: 0.8;
    transition: all .6s ease;
}

.logs p:not(:last-child) {
    margin-bottom: 5px;
}

.logs p:first-child {
    opacity: 1;
}

.logs__title {
    font-weight: 700;
    margin-bottom: 5px;
    text-transform: uppercase;
}

.logs__content {
    border-top: 2px solid rgba(9, 5, 126, 0.95);
    padding: 10px;
    height: 370px;
    overflow-y: auto;
    text-shadow:
        -0   -1px 6px #EBEFF2,
         0   -1px 6px #EBEFF2,
        -0    1px 6px #EBEFF2,
         0    1px 6px #EBEFF2,
        -1px -0   6px #EBEFF2,
         1px -0   6px #EBEFF2,
        -1px  0   6px #EBEFF2,
         1px  0   6px #EBEFF2,
        -1px -1px 6px #EBEFF2,
         1px -1px 6px #EBEFF2,
        -1px  1px 6px #EBEFF2,
         1px  1px 6px #EBEFF2,
        -1px -1px 6px #EBEFF2,
         1px -1px 6px #EBEFF2,
        -1px  1px 6px #EBEFF2,
         1px  1px 6px #EBEFF2;
}

.alerts {
    font-size: 50px;
}

.copyright {
    margin-top: 20px;
    font-size: 16px;
}
